---

- name: 'Create restic user and group'
  include: 'create_user.yml'
  when:
    - restic_user != 'root'
    - restic_group != 'root'

- name: Ensure restic directories exist
  file:
    state: 'directory'
    path: '{{ item }}'
    mode: '0755'
    owner: '{{ restic_user }}'
    group: '{{ restic_group }}'
  with_items:
    - '/var/log/restic'
    - '{{ restic_download_path }}/bin'

- name: Install restic
  include_tasks: 'install_{{ restic_install_method }}.yml'

- name: Configure restic jobs
  include_tasks: 'configure.yml'
  with_items: '{{ restic_repos | default([]) }}'
