#jinja2: lstrip_blocks: "True"
# {{ ansible_managed }}
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
RESTIC_REPOSITORY="{{ item.url }}"
RESTIC_PASSWORD_FILE="{{ restic_password_path }}/passwd_{{ item.name }}"
{% for k,v in item.remote_credentials.items() %}
{{ k | upper }}={{ v }}
{% endfor %}

{% for job in item.jobs %}
{{ job.at }} {{ job.user | default('root') }} {{ job.command }}
{% endfor %}
